html {
  background-color: white;
}

.header_container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: flex;
	align-items: center;
}

body {
	margin: 0;
}

header {
  display: flex;
	align-items: center;
	background-color: #26252b;
	width: 100%;
	height: 4em;
	overflow: hidden;
}

header a, header p {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  margin: 0 1.3em 0 1.3em;
}

header p {
  font-family: 'OpenSans-Thin' !important;
}

.header_container > div {
  width: 50%;
}

header a:hover {
  text-decoration: underline;
}

.nav {
  text-align: right;
	min-width: 450px;
}

.nav_selected {
  color: #8e8e8e;
}

.center_container {
	display: flex;
	justify-content: center;
}

.main_container {
	display: flex;
	max-width: 1200px;
	width: 100%;
	margin: 12px 0 25px 0;
}

.main {
	padding: 0 35px 0 35px;
	max-width: 850px;
	min-width: 0;
	width: 100%;
}

.navigator_container {
	margin: 5px 20px 0 0;
	min-width: 150px;
	max-width: 265px;
	width: 100%;
}

.navigator {
	width: 100%;
	margin-top: 20px;
	padding: 5px 0 5px 0;
	display: block;
	background-color: #e9ecef;
	border: 1px solid rgba(0,0,0,0.125);
	border-radius: 6px;
}

.navigator > ul > li {
	list-style: none;
}

.navigator > ul {
	padding-left: 30px;
}

.hdate {
	font-size: 0.8em;
	font-family: 'OpenSans-Thin' !important;
  font-weight: normal;
}

.hdated {
	margin-bottom: 0;
}

.navigator * {
	text-decoration: none;
}

.main_container a {
	color: #2fa4e7;
}

.main_container a:hover {
	color: #157ab5;
}

#navigator_selected {
	color: #8e8e8e;
}

#navigator_selected:hover {
	color: #157ab5 !important;
}

.main h1,h2,h3,h4 {
	font-family: 'OpenSans-Thin' !important;
  font-weight: normal;
}

code {
  background-color: #eaeaea;
  border-radius: 3px;
  font-family: monospace;
  padding: 2px 3px;
}

.codeblock {
  background-color: #eaeaea;
	padding: 15px;
  border-radius: 3px;
  font-family: monospace;
	white-space: pre;
	overflow: auto;
}

.codeblock_notice {
	width: 100%;
	color: white;
	background-color: #f2a600;
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;
  font-family: 'OpenSans-Bold' !important;
	border-radius: 3px 3px 0 0;
}

.codeblock_noticed {
	border-radius: 0 0 3px 3px !important;
}

table {
	width: 100%;
	padding: 0px;
	border-spacing: 0;
  border-collapse: separate;
  border-radius: 3px;
  border: 2px solid #eee;
	overflow: hidden;
}

th, td {
	padding: 6px;
}

tr:nth-child(1) {
	background-color: #eee;
}

tr > td,th {
	border: 1px solid #eee;
}
