@media only screen and (max-width: 900px) {
	.project_name {
		display: none !important;
	}

	.nav {
		text-align: center !important;
		width: 100% !important;
	}
}


@media only screen and (max-width: 750px) {

}

@media (prefers-color-scheme: dark) {
	* {
		color: #fff;
	}

	body, html {
		background-color: #26252b;
	}

	header {
		background-color: #212026;
	}

	code {
		background-color: #4c4c4c;
	}

	.codeblock{
		background-color: #4c4c4c;
	}

	.navigator {
		background-color: #212026;
	}

	table {
		border-color: #4c4c4c;
	}

	tr:nth-child(1) {
		background-color: #4c4c4c;
	}

	tr > td,th {
		border-color: #4c4c4c;
	}
}
